
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
/* 
font-family: 'Inconsolata', monospace;
font-family: 'Lora', serif;
font-family: 'Sacramento', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Courier Prime', monospace;
*/

#root {
  max-width: 1480px;
}

